name: release
on:
  release:
    types:
      - created

jobs:
  release-binary:
    name: release-binary
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16'

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-doc:
    name: release-doc
    runs-on: ubuntu-latest
    steps:
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: checkout
        uses: actions/checkout@v2

      - name: clone
        run: |
          mkdir ~/.ssh
          echo "${{ secrets.TETRATE_ISTIO_DISTRO_IO_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          git clone git@github.com:tetratelabs/istio-distro.io.git istio-distro.io

      - name: cp
        run: |
          cp -r doc/en/* istio-distro.io/content/en/
          find doc/en/ -type f -name "_index.md" -print0 | xargs -0 sed -i -e "s/\/getmesh-cli\/reference/\/zh\/getmesh-cli\/reference/g"
          cp -r doc/en/* istio-distro.io/content/zh/

      - name: commit
        working-directory: istio-distro.io
        run: |
          git config --global user.email "getmesh@tetrate.io"
          git config --global user.name "getmesh"
          git checkout main
          git add content/
          git commit -a -m "Update docs from the getmesh ${{ env.RELEASE_VERSION }} release"

      - name: push
        working-directory: istio-distro.io
        run: |
          git push origin main
